.tela{
	-fx-pref-width: 1280;
	-fx-pref-height: 768;
}

.botao{
	-fx-pref-width: 150;
	-fx-pref-height: 70;
	-fx-background-color: FF7801;
}

.cxtxt{
	-fx-background-color: FFD20F;
}

.sair{
	-fx-background-color: #FFB70A;
	-fx-pref-height: 50px;
	-fx-font-size: 24px;
	-fx-font-weight: bold;
}

.tabela{
	-fx-background-color: FFB70A;
}

.coluna{
	-fx-background-color: FF7801;
}