.tela{
	-fx-min-width: 900;
	-fx-min-height: 800;
	-fx-pref-width: 900;
	-fx-pref-height: 800;
}

.botaoGrande, .botaoPequeno{
	-fx-background-color: #FBFFE4;
	-fx-background-radius: 100.0%;
	-fx-font-size: 12;
}

.botaoGrande{
	-fx-pref-height: 80.0;
	-fx-pref-width: 80.0;
	-fx-background-color: #FFFFCC;
}

.botaoPequeno{
	-fx-pref-height: 48;
	-fx-pref-width: 48;
}