.tela{

	-fx-pref-width: 1280;
	-fx-pref-height: 768;
}

.botaoGrande, .botaoPequeno{
	-fx-font-size: 11;
}

.botaoGrande{
	-fx-pref-height: 80.0;
	-fx-pref-width: 80.0;
	-fx-background-radius: 100.0%;
	-fx-background-color: #FFFF00;
}

.botaoPequeno{
	-fx-pref-height: 50;
	-fx-pref-width: 45;
	
}