.tela{

	-fx-pref-width: 1280;
	-fx-pref-height: 768;
}

.botaoGrande{
	-fx-pref-height: 72.0;
	-fx-pref-width: 72.0;
	-fx-background-radius: 100.0%;
	-fx-background-color: #FFFF00;
	-fx-font-size: 12;
}

.botaoPequeno{
	-fx-pref-height: 30;
	-fx-pref-width: 45;
	-fx-background-color: #FFF;
	-fx-font-size: 11;
}