body{
	margin: 0.0 auto;
}

header{
	background-color: #35373C;
	height: 230.0px;
}

.logo{
	background-color: #FFCE0D;
	float: left;
	width: 250.0px;
	height: 200.0px;
	margin-top: 25.0px;
	margin-left: 20.0px;
}

.menu{
	width: 80.0%;
	height: 80.0px;
	float: left; 
	margin-left: 30.0px;
}

nav{
	height: 50.0px;
	margin-left: 30.0px;
}

nav ul{
	padding: 0.0;
	margin: 0.0;
}
nav ul li{
	margin-top: 45.0px;
	float: left;
	list-style-type: none;
	text-align: center;
	margin-left: 10.0px;
	font-size: 18.0px;

}

nav a{
	text-decoration: none;
	width: 198.0px;
	height: 20.0px;
	display: block;
	padding: 15.0px 0.0;
	background-color: #ffb70c;
	margin: 0.0 1.0px;
	color: #585c65;

}

nav a:hover{
background-color: #ff7801;
color: #fff;
}

.frase{
	background-color: #ff7801;
	margin-top: 40.0px;
	width: 60.0%;
	height: 100.0px;
	margin-left: 85.0px;
	float: left;
	text-align: center;
}

.frase h1{
	font-size: 45.0px;
}

.frase h1 span{
	color: #fff;
}

#textao{
	z-index: 1.0;
	color: #fff;
	margin-top: -300.0px;
	text-align: center;
	font-size: 60.0px;
}

#banner{
	height: 500.0px;
	width: 500.0px;
	background-color: #fff;
}

#home{
	height: 520.0px;
}

#home img{
	height: 520.0px;
	width: 100.0%;
}

#foto{
	margin-left: 12%;
}

#explicacao{
	padding-left: 30px;
}

#quem{
	height: 1330.0px;
	background-color: #2D2F33;
}

.quem1, .quem2 , .joao, .andre{
	display: inline-block;
	width: 657.0px;
	height: 300.0px;
	padding-left: 90.0px;
	padding-right: 10.0px;
	color: #FFCE0D;
}

.joao, .andre{
	width: 46.0%;
	height: 250.0px;
	padding-left: 2.0%;
	padding-right: 2.0%;
	float: left;
}



.quem2{
	float: right;
}

.joao img, .andre img{
	float: left;
	margin-right: 20.0px;
     background-color: #ffb70c;
     width: 150.0px;
     height: 150.0px;
     border: none;
}

.joao, .andre{
	background-color: #BF5A01;
}

h2 span strong{
	font-size: 2.0em;
	color: #ff7801;
}

.imagem{
	display: block;
	margin: 0.0 auto;
	margin-right: auto;
	margin-left: auto;
}

#sistema, #contato{
	background-color: #2D2F33;
}

#sistema{
	height: 800.0px;
	color:  #FFCE0D;
}

#explicacao h2{
	padding: 10.0px;
	margin: 0.0;
}
	
#contato{
	height: 900.0px;
}

#endereco{
	width: 100.0%;
	height: 450.0px;
}

#mapa{
	width: 58.0%;
	float: left;
	padding: 1.0%;
}

#rua{
	width: 38.0%;
	float: left;
	padding: 1.0%;
	color: #ffb70c;
}

#mensagem{
	margin: 0.0 auto;
	padding: 1.0%;
	height: 400.0px;
	color: #ffb70c;
	margin-top: -45.0px;
}

#mensagem button{
	background-color: #ff7801;
	color: #FFCE0D;
	border: none;
	height: 60.0px;
	width: 180.0px;
}

input{
	height: 30.0px;
	width: 300.0px;
}

.input{
	padding: 20.0px;
	padding-top: 0.0px;
	height: 50.0px;
	width: 300.0px;
	float: left;
}

#manual{
	height: 3800.0px;
	background-color: #DBC700;
	color: #2D2F33;
}

#manual img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 10.0px;
}

#manual h2{
	margin: 0.0;
	font-size: 6.0em;
	text-align: center;
}

#manual p{
	text-align: center;
	font-size: 24.0px;
	padding: 10.0px;
}

hr{
	background-color: #000;
	color: #000;
	height: 3.0px;
	border: none;
}

.mensagem{
	padding: 20.0px;
	display: block;
	clear: both;
}


footer{
	height: 30.0px;
	background-color: #ff7801;
	color: #35373C;
}